<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.ruslanlyalko.sn">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.ruslanlyalko.sn.presentation.SnApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Main" />
        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.main.profile.ProfileActivity"
            android:label="@string/title_activity_user"
            android:parentActivityName="com.ruslanlyalko.sn.presentation.ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.login.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:parentActivityName="com.ruslanlyalko.sn.presentation.ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ruslanlyalko.sn.presentation.ui.main.MainActivity" />
        </activity>
        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.login.SignupActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName="com.ruslanlyalko.sn.presentation.ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.main.lesson.LessonActivity"
            android:label="@string/title_activity_lesson"
            android:parentActivityName="com.ruslanlyalko.sn.presentation.ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.main.calendar.CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:parentActivityName="com.ruslanlyalko.sn.presentation.ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.main.expenses.ExpensesActivity"
            android:label="@string/title_activity_cost"
            android:parentActivityName="com.ruslanlyalko.sn.presentation.ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.main.dialogs.DialogsActivity"
            android:label="@string/title_activity_notification"
            android:parentActivityName="com.ruslanlyalko.sn.presentation.ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.main.profile.salary.SalaryActivity"
            android:label="@string/title_activity_salary"
            android:parentActivityName="com.ruslanlyalko.sn.presentation.ui.main.profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.main.profile.dashboard.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:parentActivityName="com.ruslanlyalko.sn.presentation.ui.main.profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ruslanlyalko.sn.presentation.widget.PhotoPreviewActivity"
            android:parentActivityName="com.ruslanlyalko.sn.presentation.ui.main.MainActivity"
            android:theme="@style/AppTheme.BlackClose" />
        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.main.profile.settings.ProfileSettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName="com.ruslanlyalko.sn.presentation.ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Close"
            android:windowSoftInputMode="stateHidden"
            />
        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.main.rooms.RoomsTabActivity"
            android:label="@string/title_activity_rooms_tab"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.about.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.main.dialogs.details.DialogActivity"
            android:label="@string/empty_string"
            android:parentActivityName="com.ruslanlyalko.sn.presentation.ui.main.dialogs.DialogsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.main.dialogs.edit.DialogEditActivity"
            android:parentActivityName="com.ruslanlyalko.sn.presentation.ui.main.dialogs.details.DialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Close"
            android:windowSoftInputMode="stateHidden"
            />
        <activity
            android:name=".presentation.ui.main.profile.salary_edit.SalaryEditActivity"
            android:parentActivityName="com.ruslanlyalko.sn.presentation.ui.main.profile.salary.SalaryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Close"
            android:windowSoftInputMode="stateHidden"
            />
        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.main.maps.MapsActivity"
            android:label="@string/title_activity_maps"
            android:parentActivityName="com.ruslanlyalko.sn.presentation.ui.main.lesson.LessonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.main.expenses.edit.ExpenseEditActivity"
            android:parentActivityName="com.ruslanlyalko.sn.presentation.ui.main.expenses.ExpensesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Close"
            android:windowSoftInputMode="stateHidden"
            />
        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.main.clients.contacts.details.recharge_edit.RechargeEditActivity"
            android:parentActivityName="com.ruslanlyalko.sn.presentation.ui.main.clients.contacts.details.ContactDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Close"
            android:windowSoftInputMode="stateHidden"
            />

        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.main.clients.ClientsTabActivity"
            android:label="@string/title_activity_clients_tab"
            android:launchMode="singleTop"
            android:parentActivityName="com.ruslanlyalko.sn.presentation.ui.main.calendar.CalendarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.main.clients.contacts.edit.ContactEditActivity"
            android:parentActivityName="com.ruslanlyalko.sn.presentation.ui.main.clients.contacts.edit.ContactEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Close"
            android:windowSoftInputMode="stateHidden"
            />

        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.main.clients.contacts.details.ContactDetailsActivity"
            android:parentActivityName="com.ruslanlyalko.sn.presentation.ui.main.clients.ClientsTabActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            />
        <activity
            android:name="com.ruslanlyalko.sn.presentation.ui.main.clients.birth.BirthActivity"
            android:label="@string/title_activity_birth"
            android:parentActivityName="com.ruslanlyalko.sn.presentation.ui.main.clients.ClientsTabActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.ruslanlyalko.sn.presentation.widget.EnlargedImageActivity"
            android:parentActivityName="com.ruslanlyalko.sn.presentation.ui.main.clients.ClientsTabActivity"
            android:theme="@style/Plaid.Translucent.About"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- optional (needed if default theme has no action bar) -->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="52ba750a54b6b9f14ef3239631d128c3b628ee05" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service android:name="com.ruslanlyalko.sn.presentation.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.ruslanlyalko.sn.presentation.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!--
             Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_main" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

    </application>

</manifest>